### Strings

In [80]:
first_name = "Cookie"
last_name = "Monster"

In [81]:
print(first_name + last_name)

CookieMonster

In [82]:
first_name[-1]

'e'

In [83]:
# title() method returns a string with the first character in upper case for every word in the string

message = "  learn to code in python "
print(message.title())
print(message)

  Learn To Code In Python
  learn to code in python

In [84]:
# upper() method returns a string in all upper cases

message = "  learn to code in python "
msg = message.upper()
print(msg)
print(message)

  LEARN TO CODE IN PYTHON
  learn to code in python

In [85]:
print(msg)
print(msg.lower())

  LEARN TO CODE IN PYTHON
  learn to code in python

In [86]:
# strip() method returns a string after removing all leading and following blanks in the string

message = "  learn to code in python "
print(message.strip())
print(message)

learn to code in python
  learn to code in python

In [87]:
# lstrip() method returns a string after removing all leading blanks in the string

message = "  learn to code in python "
print(message.lstrip())
print(message)

learn to code in python
  learn to code in python

In [88]:
# rstrip() method returns a string after removing all following blanks in the string

message = "  learn to code in python        "
print(message.rstrip())
print(message)

  learn to code in python
  learn to code in python

In [89]:
# replace() method returns a string with old substring replaced with new substring

message = "  learn to code in python        "
print(message.replace(' ', '*'))
print(message)

**learn*to*code*in*python********
  learn to code in python

In [90]:
# capitalize() method returns a string with the first character in upper case

message = "learn to code"
print(message)
print(message.capitalize())

learn to code
Learn to code

In [91]:
# what is happening?

message = " learn to code"
print(message)
print(message.capitalize())

 learn to code
 learn to code

In [92]:
"python".capitalize()

'Python'

In [93]:
# center() method returns a centered string


message = "yeah"
print(message)
print(message.center(20))

yeah
        yeah

In [94]:
# count() method returns the occurences of the substring in the given string

message = "  learn to code in python "
print(">>>"+message+"<<<")
message.count("to")

>>>  learn to code in python <<<

1

In [95]:
message.count(" ")

7

In [96]:
message.count("Code")

0

In [98]:
message = "I love Python!"
print(message)
print(message[7])

I love Python!
P

In [100]:
message[-6]

'y'

In [103]:
message[8]

'y'

In [104]:
# len() function returns the number of items in an object
len(message)

14

In [105]:
len("")

0

In [106]:
len("99.99")

5

In [107]:
len("\"")

1

In [108]:
len(123.56789)

TypeError: object of type 'float' has no len()

### Exercise 1
Write a program to right-justify text where the maximum number of characters per line is 50.

In [111]:
line1 = "   beautiful is better than ugly.   "

In [110]:
# fix any errors

MAXCHAR = 50

# write code to remove leading and following blanks



no_char = len(line)            # returns a number of charcters in line 

# find the number of blanks to fill the line
no_blank = no_char - MAXCHAR



# fill the leading blanks
result = "--" * no_blanks 

# concatenate the text to leading blanks



# print out
print("1234567890"*5)
print(result)

NameError: name 'line' is not defined

### Formatted String
    {}  : a place holder
    ,   : shows commas in thousands place
    .2f : shows 2 digits after the decimal point
    .2% : shows 2 digits after the decimal point in percentage (%)

In [21]:
message = "I love {name}"
print(message.format(name = "Python"))
print(message)

I love Python
I love {name}

In [22]:
print("I love {0}".format("Python"))
print("I love {}".format("Python"))

I love Python
I love Python

In [ ]:
print("I love {} and {}".format("to eat", "drink"))

In [ ]:
print("I love {} and {}".format("drink", "to eat"))

In [ ]:
print("I love {one} and {two}".format(two="drink", one="to eat"))

In [ ]:
msg = "My name is {fname}.".format(fname="Elmo")
print(msg)

In [ ]:
msg = "Your name is {fname} and you are {age}.".format(fname="Big Bird", age=5)
print(msg)

In [ ]:
msg = "Your name is {0} and you are {1}.".format("Count Von Count", 999)
print(msg)

In [ ]:
msg = "Your name is {} and you are {}.".format("Cookie Monster", 9)
print(msg)

In [ ]:
# :f for fixed point number, default with 6 decimals

price = 9.99
msg = "The price is ${:f}"
print(msg.format(price))

In [ ]:
# :.2f for fixed point number, use a period followed by a number to specify the number of decimals

msg = "The price is ${:.2f}"
print(msg.format(price))

In [ ]:
# :.2f for fixed point number, use a period followed by a number to specify the number of decimals

msg = "The price is ${:.1f}"
print(msg.format(price))

In [ ]:
# :, to display comma as a thousand separator

msg = "Total price is ${:,}"
print(msg.format(price*10000))

In [ ]:
msg = "Total price is ${:,.2f}"
print(msg.format(price*1000000000))

In [ ]:
msg = "Current interest rate is {:%}"
print(msg.format(0.0516))

In [ ]:
msg = "Current interest rate is {:.2%}"
print(msg.format(0.0516))

In [ ]:
msg = "Current interest rate is {:.1%}"
print(msg.format(0.0516))

### Formatted String

In [ ]:
first_name = "Big"
last_name = "Bird"

In [ ]:
print("The main character is {first_name} {last_name}.")

In [ ]:
print(f"The main character is {first_name} {last_name}.")

In [78]:
amount = 1234567.89123
print(f"Amount is ${amount:,.3f}")

Amount is $1,234,567.891

In [75]:
print(f"Amount is {amount:,.3%}")

Amount is 123,456,789.123%

In [ ]:
amount

In [ ]:
unit_price = 99.99
qty = 53
print(f"Subtotal: ${unit_price * qty}")

In [ ]:
print(f"Subtotal: ${unit_price * qty :,}")  # commas in thousands place

In [ ]:
print(f"Subtotal: ${unit_price * qty :.2f}") #2 digits after the decimal point

In [19]:
print(f"Subtotal: ${unit_price * qty :,.2f}") #in dollar amount format

NameError: name 'unit_price' is not defined

In [20]:
x = 123.45143
print(f"{x:.3f}")

123.451

In [23]:
rate = 0.03255    # morgage rate 3.255%
print(f"Current rate: {rate:.2%}")

Current rate: 3.26%

In [24]:
print(f"Current rate: {rate:.9%}")

Current rate: 3.255000000%

In [25]:
prompt = ">"
print("Enter a number:")
numb1 = int(input(prompt))
print("Enter next number:")
numb2 = int(input(prompt))
total = numb1 * numb2
print(f"{numb1} * {numb2} = {total}")

Enter a number:
>500
Enter next number:
>600
500 * 600 = 300000

In [26]:
print(f"{numb1} + {numb2} = {numb1 + numb2 :,.3f}")
print(f"{numb1} - {numb2} = {numb1 - numb2 :,.3f}")
print(f"{numb1} * {numb2} = {numb1 * numb2 :,.3f}")
print(f"{numb1} / {numb2} = {numb1 / numb2 :,.3f}")

500 + 600 = 1,100.000
500 - 600 = -100.000
500 * 600 = 300,000.000
500 / 600 = 0.833

### Exercise 2
Write a program to find out user's annual salary. Then compute user's monthly salary and bi-weekly salary.
Display your results in nice formatted output.

#### Identify IPO

input:

process in pseudocode:



output:

#### Convert your pseudocode in to Python code

In [13]:
salary = int(input("Enter your Salary: "))

monthly = salary/12
biweekly = salary/26

print(f"Your montyly Salary is ${monthly:,.2f}")
print(f"Your biweekly Salary is ${biweekly:,.2f}")

Enter your Salary: 800000
Your montyly Salary is $66,666.67
Your biweekly Salary is $30,769.23

### Scientific Number Notation

In [27]:
no1 = 58000
print(f"{no1:e}")

5.800000e+04

In [28]:
print(f"{no1:.1e}")
print(f"{no1:.2e}")

5.8e+04
5.80e+04

In [29]:
no2 = 0.000123

print(f"{no2:.1e}")
print(f"{no2:.3e}")

1.2e-04
1.230e-04

In [30]:
no3 = 1.23456789e3
print(f"{no3}")
print(f"{no3:,}")
print(f"{no3:,.2f}")

1234.56789
1,234.56789
1,234.57

In [31]:
no3 = 1.23456e-3
print(f"{no3}")
print(f"{no3:,}")
print(f"{no3:,.3f}")
print(f"{no3:,.2f}")

0.00123456
0.00123456
0.001
0.00

In [32]:
no3 = 9e-3
print(f"{no3}")

0.009

### Exercise 3

In [33]:
# 1. Write 620000 in a scientific number notation
# 6.2e+5
noc=620000
print(f"{620000:.1e}")

6.2e+05

In [34]:
# 2. write 0.0091 in a scientific number notation
# 9.1e-3
noc=0.0091
print(f"{0.0091:.1e}")

9.1e-03

### Exercise 4

#### 1. Convert 217 to a binary number using FLOOR-DIVISION and MOD arithmetic operations

In [72]:
n=int(input("enter some num:"))
print(bin(n)[2:])

enter some num:217
11011001

In [43]:
# 2 to the power of 0 

217 // 2
108 // 2
54 // 2
27 // 2
13 // 2
6 // 2
3 // 2
1 // 2

0

217 % 2=1
108 % 2=0
54 % 2=0
27 % 2=1
13 % 2=1
6 % 2=0
3 % 2=1
1 % 2=1

In [ ]:
# power of 1

In [ ]:
# power of 2

In [ ]:
# power of 3

In [ ]:
# power of 4

In [ ]:
# power of 5

In [ ]:
# power of 6

In [ ]:
# power of 7

In [ ]:
# Now, assemble your answer

#### 2. Convert 0b1110 0011 to a decimal number

In [60]:
# 2 to the power of 0
int(0b11100011)

227

In [ ]:
# power of 1

In [ ]:
# power of 2

In [ ]:
# power of 3

In [ ]:
# power of 4

In [ ]:
# power of 5

In [ ]:
# power of 6

In [ ]:
# power of 7

In [ ]:
# Now, assemble your answer

### Use Data Type Casting

In [112]:
numb = 0b10011011
int(numb)

155

In [ ]:
int(0b10011011)

In [ ]:
bin(155)

In [ ]:
type(bin(153))

In [ ]:
numb = 0o01234567
int(numb)

In [ ]:
oct(342391)

In [ ]:
numb = 153
hex(153)

In [ ]:
int("0b10011011", 2)

In [ ]:
int("0o10011011", 8)

In [ ]:
int("0o1234567", 8)

In [ ]:
int(0x20b)

In [ ]:
int("1011", 2)

In [ ]:
int("1011", 8)

In [ ]:
int("1011", 16)

In [ ]:
numb = "1011"
print(f"Binary {numb} is integer {int(numb, 2)}\nOctal {numb} is integer {int(numb, 8)}\nHexa {numb} is integer {int(numb,16)}")